.heading-1 {
    font-size: 48px;
    text-transform: uppercase;

    @include respond(break-xl) {
        font-size: 45px;
    }

    @include respond(break-l) {
        font-size: 40px;
    }

    @include respond(break-m) {
        font-size: 37px;
    }

    @include respond(break-s) {
        font-size: 30px;
    }
}

.heading-2,
.heading-3 {
    color: $color-grey-3;
    font-style: italic;
    font-weight: 300;
    font-size: 42px;
    letter-spacing: -2px;

    @include respond(break-s) {
        font-size: 27px;
    }
}

.heading-4 {
    color: $color-primary;
    text-transform: uppercase;
    margin: 0;
}

.heading-1::after,
.heading-2::after,
.heading-3::after {
    display: block;
    content: "";
    background-color: $color-primary;
    width: 200px;
    height: 2px;
}

.heading-1::after,
.heading-2::after {
    margin: 30px auto;
}

.heading-3::after {
    margin: 30px 0;

    @include respond(break-m) {
        margin: 30px auto;
    }
}

.u-paragraph {
    font-size: 15px;
    color: $color-grey-3;
    line-height: 30px;

    @include respond(break-xl) {
        line-height: 25px;
    }

    @include respond(break-m) {
        font-size: 13px;
        line-height: 20px;
    }
}