$break-xl: 1200px;
$break-l: 991px;
$break-m: 767px;
$break-s: 576px;
$break-xs: 320px;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-1: #5a5a5a;
$color-grey-2: #f4f4f4;
$color-grey-3: #909090;
$color-grey-4: #2B2B2B;

$color-primary: #ed145b;