@media only screen and (max-width: 1200px) {

    .col-xl-1 { width: 8.33%; }
    .col-xl-2 { width: 16.66%; }
    .col-xl-3 { width: 25%; }
    .col-xl-4 { width: 33.33%; }
    .col-xl-5 { width: 41.66%; }
    .col-xl-6 { width: 50%; }
    .col-xl-7 { width: 58.33%; }
    .col-xl-8 { width: 66.66%; }
    .col-xl-9 { width: 75%; }
    .col-xl-10 { width: 83.33%; }
    .col-xl-11 { width: 91.66%; }
    .col-xl-12 { width: 100%; }

    .heading-1 {
        font-size: 45px;
    }

    .u-paragraph {
        font-size: 15px; 
        line-height: 25px;
    }

    .nav {
        padding: 25px 10px;
    }

    .header__text {
        font-size: 19px;
        line-height: 30px;
    }

    /* .welcome {
        height: 55vh;
    } */

    .service,
    .prices,
    .more,
    .download {
        padding: 50px 0;
    }

    .join {
        font-size: 32px;
    }

    .updates {
        padding-top: 50px;
    }

    .welcome__img,
    .download__img {
        width: 100%;
        transform: translateX(0);
    }

}

@media only screen and (max-width: 991px) {

    .col-l-1 { width: 8.33%; }
    .col-l-2 { width: 16.66%; }
    .col-l-3 { width: 25%; }
    .col-l-4 { width: 33.33%; }
    .col-l-5 { width: 41.66%; }
    .col-l-6 { width: 50%; }
    .col-l-7 { width: 58.33%; }
    .col-l-8 { width: 66.66%; }
    .col-l-9 { width: 75%; }
    .col-l-10 { width: 83.33%; }
    .col-l-11 { width: 91.66%; }
    .col-l-12 { width: 100%; }

    .heading-1 {
        font-size: 40px;
    }

    .u-text-box {
        padding: 0 100px;
    }

    .header__text {
        font-size: 17px;
        line-height: 25px;
    }

    /* .welcome__img {
        width: 150%;
        transform: translateX(10%);
    } */

    .join {
        font-size: 25px;
    }

    .slides {
        height: 20vh;
    }

    .slides__container {
        float: left;
        width: 40%;
        height: auto;
    }

    .slides__img {
        height: 20vh;
    }

    .slides__text {
        float: left;
        width: 60%;
        height: 100%;
    }

}

@media only screen and (max-width: 767px) {

    .col-m-1 { width: 8.33%; }
    .col-m-2 { width: 16.66%; }
    .col-m-3 { width: 25%; }
    .col-m-4 { width: 33.33%; }
    .col-m-5 { width: 41.66%; }
    .col-m-6 { width: 50%; }
    .col-m-7 { width: 58.33%; }
    .col-m-8 { width: 66.66%; }
    .col-m-9 { width: 75%; }
    .col-m-10 { width: 83.33%; }
    .col-m-11 { width: 91.66%; }
    .col-m-12 { width: 100%; }

    .heading-1 {
        font-size: 37px;
    }

    .heading-3::after {
        margin: 30px auto;
    }

    .u-paragraph {
        font-size: 13px;
        line-height: 20px;
    }

    .u-text-box {
        padding: 0 50px;
    }

    .nav {
        flex-direction: column;
    }

    .header {
        height: 100vh;
    }

    .header__text {
        font-size: 15px;
    }

    .welcome {
        text-align: center;
    }

    .welcome__img {
        /* display: none; */
        width: 100%;
        transform: 0;
    }

    .welcome__link {
        justify-content: center;
    }

    .quote__text {
        font-size: 18px;
        padding: 30px 0;
        line-height: 25px;
        margin: 0;
    }
    
    .quote__text::before,
    .quote__text::after {
        color: #ed145b;
        font-size: 100px;
        display: block;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        padding-top: 60px;
    }

    .join .btn {
        display: block;
        margin-left: 0;
        margin: 10px auto;
    }

    .download {
        text-align: center;
    }

}

@media only screen and (max-width: 576px) {

    .col-s-1 { width: 8.33%; }
    .col-s-2 { width: 16.66%; }
    .col-s-3 { width: 25%; }
    .col-s-4 { width: 33.33%; }
    .col-s-5 { width: 41.66%; }
    .col-s-6 { width: 50%; }
    .col-s-7 { width: 58.33%; }
    .col-s-8 { width: 66.66%; }
    .col-s-9 { width: 75%; }
    .col-s-10 { width: 83.33%; }
    .col-s-11 { width: 91.66%; }
    .col-s-12 { width: 100%; }

    .heading-1 {
        font-size: 30px;
    }

    .heading-2,
    .heading-3 {
        font-size: 27px;
    }

    .nav {
        padding: 10px 0;
    }

    .nav__list {
        float: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .nav__item {
        margin-top: 5px;
    }

    .header__text {
        font-size: 13px;
        margin-bottom: 30px;
        line-height: 20px;
    }

    .service__icon {
        margin: 10px 0;
    }

    .join {
        padding: 50px 5px;
    }

    .slides,
    .slides__img {
        height: 30vh;
    }

}