.card {
    background-color: $color-white;
    margin: 25px 10px;
}

.card:hover > .card__price {
    background-color: $color-primary;
}

.card__price {
    background-color: $color-grey-1;
    width: 100%;
    padding: 35px 0 50px;
    position: relative;
    @include transition;
}

.card__value {
    color: $color-white;
    width: 100%;
    font-size: 45px;
    margin: 0;
    display: block;
}

.card__value::before {
    content: "$";
    font-size: 20px;
}

.card__time {
    font-size: 20px;
    color: $color-white;
    margin: 0;
    display: block;
}

.card__type {
    background-color: $color-grey-2;
    color: $color-grey-1;
    transform: translateY(-50%);
    width: 80%;
    margin: 0 auto;
    padding: 15px 45px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 200px;
    font-weight: 700;
    display: block;
}

.card__list {
    list-style: none;
    padding-inline-start: 0;
}

.card__item {
    color: $color-grey-1;
    margin: 10px 0;
    font-size: 14px;
}

.card__btn {
    margin: 20px 0;
}