.card {
    background-color: $color-white;
    margin: 25px 10px;

    &__price {
        background-color: $color-grey-1;
        width: 100%;
        padding: 35px 0 50px;
        position: relative;
        @include transition;
    }

    &:hover > &__price,
    &:active > &__price {
        background-color: $color-primary;
    }

    &__value {
        color: $color-white;
        width: 100%;
        font-size: 45px;
        margin: 0;
        display: block;

        &::before {
            content: "$";
            font-size: 20px;
        }
    }

    &__time {
        font-size: 20px;
        color: $color-white;
        margin: 0;
        display: block;
    }

    &__type {
        background-color: $color-grey-2;
        color: $color-grey-1;
        transform: translateY(-50%);
        width: 80%;
        margin: 0 auto;
        padding: 15px 45px;
        font-size: 13px;
        text-transform: uppercase;
        border-radius: 200px;
        font-weight: 700;
        display: block;
    }

    &__list {
        list-style: none;
        padding-inline-start: 0;
    }

    &__item {
        color: $color-grey-1;
        margin: 10px 0;
        font-size: 14px;
    }

    &__btn {
        margin: 20px 0;
    }
}