.nav {
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include respond(break-xl) {
        padding: 25px 10px;
    }

    @include respond(break-m) {
        flex-direction: column;
    }

    @include respond(break-s) {
        padding: 10px 0;
    }

    &__logo {
        font-weight: 900;
        font-size: 22px;
        color: $color-white;
        float: left;

        &--color {
            color: $color-primary;
        }
    }

    &__list {
        list-style: none;
        float: right;

        @include respond(break-s) {
            float: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &__item {
        display: inline-block;
        font-size: 15px;
        font-weight: 700;

        &:not(:last-child) {
            margin-right: 10px;
        }

        @include respond(break-s) {
            margin-top: 5px;
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-white;
        @include transition;

        @include respond(hover) {
            &:hover,
            &:active {
                color: $color-primary;
            }
        }
    }

    &__current-page:link,
    &__current-page:visited {
        color: $color-primary;
    }
}