.slides {
    margin: 20px 10px;

    @include respond(break-l) {
        height: 20vh;
    }

    @include respond(break-s) {
        height: 30vh;
    }

    &__container {
        background-color: $color-primary;
        position: relative;

        @include respond(break-l) {
            float: left;
            width: 40%;
            height: auto;
        }
    }

    &__icon {
        color: $color-white;
        font-size: 50px;
        display: none;
        z-index: 2;
        @include center;
        @include transition;
    }

    @include respond(hover) {
        &:hover &__icon,
        &:active &__icon {
            display: block;
        }
    }

    &__img {
        opacity: 1;
        width: 100%;
        filter: grayscale(100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
        object-fit: cover;
        @include transition;

        @include respond(break-l) {
            height: 20vh;
        }

        @include respond(break-s) {
            height: 30vh;
        }
    }

    @include respond(hover) {
        &:hover &__img,
        &:active &__img {
            opacity: .2;
            clip-path: none;
        }
    }

    &__text {
        padding: 15px;
        background-color: $color-grey-2;
        text-align: left;

        & .heading-4 {
            color: $color-grey-3;
        }

        @include respond(break-l) {
            float: left;
            width: 60%;
            height: 100%;
        }
    }
}