.slides {
    margin: 20px 10px;

    &__container {
        background-color: $color-primary;
        position: relative;
    }

    &__icon {
        color: $color-white;
        font-size: 50px;
        display: none;
        z-index: 2;
        @include center;
        @include transition;
    }

    &:hover &__icon,
    &:active &__icon {
        display: block;
    }

    &__img {
        opacity: 1;
        width: 100%;
        filter: grayscale(100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
        object-fit: cover;
        @include transition;
    }

    &:hover &__img,
    &:active &__img {
        opacity: .2;
        clip-path: none;
    }

    &__text {
        padding: 15px;
        background-color: $color-grey-2;
        text-align: left;

        & .heading-4 {
            color: $color-grey-3;
        }
    }
}