.header {
    height: 75vh;
    position: relative;

    &__box {
        text-align: center;
        color: $color-white;
        backface-visibility: hidden;
        @include center;
    }

    &__text {
        font-weight: 300;
        font-size: 21px;
        line-height: 33px;
        margin-bottom: 70px;
    }
}