.header {
    height: 75vh;
    position: relative;
}

.header__box {
    text-align: center;
    color: $color-white;
    backface-visibility: hidden;
    @include center;
}

.header__text {
    font-weight: 300;
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 70px;
}