.header {
    height: 75vh;
    position: relative;

    @include respond(break-m) {
        height: 100vh;
    }

    &__box {
        text-align: center;
        color: $color-white;
        backface-visibility: hidden;
        @include center;
    }

    &__text {
        font-weight: 300;
        font-size: 21px;
        line-height: 33px;
        margin-bottom: 70px;

        @include respond(break-xl) {
            font-size: 19px;
            line-height: 30px;
        }

        @include respond(break-l) {
            font-size: 17px;
            line-height: 25px;
        }

        @include respond(break-m) {
            font-size: 15px;
        }

        @include respond(break-s) {
            font-size: 13px;
            margin-bottom: 30px;
            line-height: 20px;
        }
    }
}