.icons {
    color: $color-grey-3;
    @include section-padding;

    &__flex {
        display: flex;
        align-items: flex-start;
    }

    &__icon {
        font-size: 60px;
        float: left;
        width: 30%;
        text-align: center;
    }

    &__box {
        float: right;
        width: 70%;
    }
}