.join {
    background-color: $color-primary;
    text-align: center;
    color: $color-white;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 100;
    @include section-padding-small;

    & .btn {
        margin-left: 25px;

        @include respond(break-m) {
            display: block;
            margin-left: 0;
            margin: 10px 50px;
        }
    }

    @include respond(break-xl) {
        font-size: 32px;
    }

    @include respond(break-l) {
        font-size: 25px;
    }
}