.quote {
    position: relative;
    @include section-padding-small;

    &__flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__arrow {
        color: rgba($color-white, .9);
        font-size: 50px;
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
        cursor: pointer;
        background: transparent;
        border: none;
        @include transition;

        &:hover,
        &:active {
            color: $color-white;
        }
    }

    &__text {
        font-style: italic;
        color: rgba($color-white, .9);
        font-size: 21px;
        line-height: 35px;
        font-weight: 300;
        text-align: center;
        padding: 30px 125px;

        &::before,
        &::after {
            color: $color-primary;
            font-size: 150px;
            display: block;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 700;
            padding-top: 60px;
        }

        &::before {
            content: "“";
        }

        &::after {
            content: "”";
        }
    }
}