.welcome {
    background-color: $color-grey-2;
    position: relative;
    height: auto;
    overflow: hidden;

    &::before {
        content: "";
        background-color: $color-primary;
        clip-path: polygon(0 0, 0 100%, 100% 0);
        height: 20px;
        display: block;
    }

    &__text {
        padding: 0;
        margin-bottom: 30px;
    }

    &__link:link,
    &__link:visited {
        color: $color-primary;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
    }

    &__link:hover > &__icon,
    &__link:active > &__icon {
        color: $color-white;
        background-color: $color-primary;
    }

    &__icon {
        border: 1px solid $color-primary;
        border-radius: 50%;
        margin-left: 10px;
        font-size: 10px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        @include transition;
    }

    &__img {
        width: 120%;
        display: block;
    }
}